@implements IDisposable

<RadzenCard>
    <RadzenLabel class="py-3" Text="Избери една от опциите:"></RadzenLabel>
    <RadzenRow class="py-3">
        <SfButton CssClass="e-primary" @onclick="OnCreateFilesOptionSelected"><i class="bi-file-earmark-excel"></i> Генерирай бланки за поръчка</SfButton>
        <SfButton CssClass="e-primary" @onclick="OnSendEmailOptionSelected"><i class="bi-envelope-at"></i> Изпрати Email поръчка</SfButton>
    </RadzenRow>
    @if (_shouldGenerateFiles)
    {
        @if (_areFilesGenerating)
        {
            <RadzenProgressBarCircular ShowValue="true" Mode="ProgressBarMode.Indeterminate" Size="ProgressBarCircularSize.Large">
                <Template><h6>Working</h6></Template>
            </RadzenProgressBarCircular>
        }
        else
        {
            <ul class="p-4">
                @foreach (var file in _files)
                {
                    <li class="p-3"><a href="@file.Url" download="@file.Name" @onclick="OnFileLinkClicked">@file.Name</a></li>
                }
            </ul>
        }
    }
    @if (_shouldSendEmail)
    {
        if (string.IsNullOrEmpty(Context.ContactInfo.CompanyName) ||
            string.IsNullOrEmpty(Context.ContactInfo.MobileNumber))
        {
            <RadzenAlert Variant="Variant.Filled" AlertStyle="AlertStyle.Danger" Title="Липсващи контакти">
                <p>Няма въведен телефонен номер! Поръчката ще бъде изпратена без тази инфомация.</p>
            </RadzenAlert>
        }
        
        <RadzenAlert Variant="Variant.Filled" AlertStyle="AlertStyle.Warning" Title="Тестване">
            <p>Използвайте отметката за да изпратите тестов Email само към вашата поща</p>
            <SfCheckBox TChecked="bool" @bind-Checked="_isTestEmail" Label="Изпрати тестов Email"></SfCheckBox>
        </RadzenAlert>
        
        <RadzenAlert Variant="Variant.Outlined" AlertStyle="AlertStyle.Info" Title="Информация">
            <p>Тази опция ще изпрати реален Email към <span class="font-weight-bold">@(_isTestEmail ? Context.ContactInfo.Email : Context.TargetCompany.Email)</span> с прикачени и попълнени бланки</p>
        </RadzenAlert>
        
        <SfButton CssClass="e-sucess" Content="Изпрати e-mail поръчка" @onclick="OnSendEmailClicked"></SfButton>
        
        if(_sendingEmail)
        {
            <RadzenProgressBarCircular ShowValue="true" Mode="ProgressBarMode.Indeterminate" Size="ProgressBarCircularSize.Large" class="p-3">
                <Template><h6>Working</h6></Template>
            </RadzenProgressBarCircular>
        }
        else
        {
            @if (_isEmailSentSuccessful.HasValue && _isEmailSentSuccessful.Value)
            {
                <RadzenAlert Variant="Variant.Filled" AlertStyle="AlertStyle.Success" Title="Информация">
                    <p>Успешно изпратихме е-mail към @_toEmail.Email</p>
                </RadzenAlert>
                
            }
            @if (_isEmailSentSuccessful.HasValue && !_isEmailSentSuccessful.Value)
            {
                <RadzenAlert Variant="Variant.Filled" AlertStyle="AlertStyle.Danger" Title="Възникна грешка">
                    <p>Моля опитайте пак или опишете проблема на email support@kroiko.com</p>
                </RadzenAlert>
            }
        }
    }
</RadzenCard>